body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
   background-image: url("../img/vista-superior-deliciosa-comida-espacio-copia_23-2148708189.avif"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */
.container a img{

  height: 50px;
  width: 120px;
  

}


#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
